<!DOCTYPE html>
<html>
<head>
  <title>API</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <a href="/user/new" id = "create">Create account</a>
  <!--
  
  -->
</body>

</html>
