<!DOCTYPE html>
<html>
<head>
  <title>API - Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <h1>Welcome to the Web App API</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/user/new" id="create">Create Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="" id="create">MySaved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchJobs" id="create">Search Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchPrograms" id="create">Search Programs</a>
    </li>
    <% if(user==null){ %>
      <div class="alert alert-warning" role="alert">Log In to Access Your Saved Info</div>
    <%}%>
  </ul>
  <form action="/login" method="get">
      Name:<input type="text" id="enter_name_input" name="name"><br>
      PSWD:<input type="text" id="enter_psw_input" name="pswd"><br>
      <button type="submit" id = "enter_name_button">Submit Name</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
