<!DOCTYPE html>
<html>
<head>
  <title>API</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <a href="/user/new" id = "create">Create account</a>
  <a href="/search" id = "create">Jobs and Benefits</a>
  <form action="/login" method="get">
      Name:<input type="text" id="enter_name_input" name="name"><br>
      PSWD:<input type="text" id="enter_psw_input" name="pswd"><br>
      <button type="submit" id = "enter_name_button">Submit Name</button>
  </form>
</body>

</html>
