<!DOCTYPE html>
<html>
<head>
  <title>API - MySaved</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <h1>Your Saved Info</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/" id="create">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/user/<%=user.username%>/edit" id="create">User Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchJobs/<%=user.username%>" id="create">Search Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchPrograms/<%=user.username%>" id="create">Search Programs</a>
    </li>
    <% if(user==null){ %>
      <div class="alert alert-warning" role="alert">Log In to Access Your Saved Info</div>
    <%}%>
  </ul>

  <h3>Your Saved Jobs:</h3>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Part/full time</h6>
      <h6 class="card-subtitle mb-2 text-muted">Agency</h6>
      <h6 class="card-subtitle mb-2 text-muted">Category</h6>
      <h6 class="card-subtitle mb-2 text-muted">Location</h6>
      <a href="#" class="card-link">Save This Opportunity</a>
    </div>
  </div>

  <h3>Your Saved Programs:</h3>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Program Name</h5>
      <h6 class="card-subtitle mb-2 text-muted">Benefit Type</h6>
      <h6 class="card-subtitle mb-2 text-muted">Population Served</h6>
      <h6 class="card-subtitle mb-2 text-muted">Contact Info</h6>
      <p class="card-text">Description</p>
      <a href="#" class="card-link">Save This Opportunity</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
