<!DOCTYPE html>
<html>
<head>
  <title>API - Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <h1>Search Jobs Database</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/" id="create">Home</a>
    </li>
    <li class="nav-item">
      <a class= "<%if(user.username==null){%>nav-link disabled<%} else{ %>nav-link active<%}%>" href="/mysaved/<%=user.username%>" id="create">MySaved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="<%if(user.username==null){%>/user/new<%} else{ %>/user/<%=user.username%>/edit<%}%>" id="create"><%if(user.username==null){%>Create Account<%} else{ %>User Details<%}%></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/searchPrograms<%if(user.username!=null){%>/<%=user.username%><%}%>" id="create">Search Programs</a>
    </li>
  </ul>

  <h3>Advanced Job Search:</h3>
  <form action= "/jobsearch<%if(user.username!=null){%>/<%=user.username%><%}%>" method="get">
    <div class="form-group">
      <h3>I am interested in...</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            Part Time Jobs<input type="checkbox" aria-label="partTime">
            Full Time Jobs<input type="checkbox" aria-label="FullTime">
          </div>
        </div>
      </div>
      Agency: <input type="text" id="j_key" name="agency"> <br>
      Business Title: <input type="text" id="j_key" name="title"> <br>
      Category: <input type="text" id="j_key" name="category"><br>
      Location: <input type="text" id="j_key" name="location"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h3>Browse Jobs Below:</h3>
  <% for(int i=0; i < data.length(); i++){ %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><% data[i].title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><% data[i].time %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><% data[i].agency %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><% data[i].category %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><% data[i].location %></h6>
      <a href="#" class="card-link">Save This Opportunity</a>
    </div>
  </div>
  <% } %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
