<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <div id="feedback" class = "<%if (user==null || feedback["failure"]==10 || feedback["failure"]==42){%> negative <%}%>">
    <%if (feedback["failure"]==10){%>That username is taken. Please choose a different one.<%} else if (feedback["failure"]==42){%> You did not enter valid text for one or more of the fields. <%} else if (user==null) {%>Please enter your information to create an account <%}%>
  </div>
  <div id="enter_name">
    <form action="<%if(user==null){%>/users<%}else{%>/user/<%=user.name%>?_method=PUT<%}%>" method="post">
      Username: <input type="text" id="enter_username" name="name" value = "<%if (user!=null){%><%=user.name%><%} else {%><%}%>"><br>
      PSWD: <input type="text" id="enter_psw" name="pswd" value = "<%if (user!=null){%><%=user.pswd%><%}%>"><br>
      <br>
      <button type="submit" id = "enter_name_button"><%if(user==null){%>Create Account<%}else{%>Modify Account<%}%></button>
    </form>
    <% if (user!=null) {%>
    <form action="/user/<%=user.name%>?_method=DELETE" method="post">
       <input type="submit" value="Delete User">
    </form>
    <%}%>
  </div>
 </body>
</html>
